body
{
  background-color: black;
}
#top
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 4em;
  color: #ff0000;
}
#twoButtons
{
  position: absolute;
  margin-top: 10%;
  left: 0px;
  top: 0px;
  text-align: center;
  width: 100%;
  font-size: 3em;
}
#play
{
  color: #0066ff;
  /*position: absolute;*/
  /*margin-top: 15%;*/
  padding-right: 2em;
}
#play:hover
{
  cursor: pointer;
}
#instructions
{
  color: #00ff00;
}
#instructions:hover
{
  cursor: pointer;
}
#instructionsText
{
  position: absolute;
  margin-top: 20%;
  left: 10%;
  top: 0px;
  text-align: center;
  width: 80%;
  font-size: 2em;
  color: white;
}
#playAgain
{
  position: absolute;
  margin-top: 30%;
  left: 10%;
  top: 0px;
  text-align: center;
  width: 80%;
  font-size: 2em;
  color: #ffff00;
}
#playAgain:hover
{
  cursor: pointer;
}
#board
{
  position: absolute;
  margin-top: 5%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  color: white;
  text-align: center;
  width: 100%;
}
#compDeck
{
  position: relative;
  width: 6vw;
  height: 9vw;
  left: 20%;
  border: 2px solid white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#compCard
{
  position: relative;
  width: 6vw;
  height: 9vw;
  left: 47.5%;
  border: 2px solid white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#playerCard
{
  position: relative;
  width: 6vw;
  height: 9vw;
  left: 47.5%;
  border: 2px solid white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#playerDeck
{
  position: relative;
  width: 6vw;
  height: 9vw;
  left: 80%;
  border: 2px solid white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#draw
{
  position: relative;
  width: 6vw;
  height: 4vw;
  left: 47.5%;
  border: 2px solid white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#draw:hover
{
  cursor: pointer;
}
